#sidebar ul ul li a {
    font-size: 15px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#sidebar  li  a {
    font-weight: bold;
    background: url(../images/tabRepeatInactive.png) repeat-x 0 0;
    color: #262626;
}

#sidebar ul li li a {
    background: #eee;
    padding-left: 14px;
    font-weight: normal;
    display: block;
    font-size: 13px;
    line-height: 26px;
}
